.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 700px;
    max-height: 400px;
}

.slider {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 24px 0px rgba(0,0,0,0.30);
}

.slider-hidden {
    display: none;
}

.arrow {
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.btn-container {
    position: absolute;
    bottom: 1rem;
    display: flex;
}

.btn {
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    margin: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 1s;
}

.btn:hover {
    background-color: #fff;
}

.btn-inactive {
    background-color: rgb(156, 156, 156);
}

@media only screen and (max-width: 600px) {
    .carousel {
        margin: .75rem;
    }
}

